h2 {
  text-align: center;
  width: auto;
}

img {
  margin: 50px;
  width: 360px;
  height: 240px;
}
button {
  outline: none;
  width: auto;
  height: 10px;
  background-color: blanchedalmond;
  border: none;
}

.lienMap {
  display: flex;
  align-items: center;
}
.logoMap {
  width: 40px;
  height: 40px;
}

.paragrapheMap {
  display: inline-block;
  text-decoration: underline;
  margin: 10px;
}
.boutonMap {
  border: none;
  background: none;
  cursor: pointer;
}
